@font-face {
  font-family: 'Neue Montreal';
  font-weight: 300;
  font-style: normal;
  src: url('./NeueMontreal-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 300;
  font-style: italic;
  src: url('./NeueMontreal-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 400;
  font-style: normal;
  src: url('./NeueMontreal-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 400;
  font-style: italic;
  src: url('./NeueMontreal-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 500;
  font-style: normal;
  src: url('./NeueMontreal-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 600;
  font-style: normal;
  src: url('./NeueMontreal-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 600;
  font-style: italic;
  src: url('./NeueMontreal-BoldItalic.otf') format('opentype');
}
