@import url('../fonts/NeueMontreal.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

html {
  font-family: 'Neue Montreal', sans-serif;
}

body {
  background: #f0f0f0;
  color: #0a0a0c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  max-width: 100%;
}
