.root {
  padding: 1rem;
  font-size: 0.8em;
  color: #999;
}

.root ul {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.root ul li {
  display: inline-block;
  margin-right: 1em;
  list-style: none;
}

.root ul li a {
  text-decoration: none;
  color: #555;
}
