.root {
  color: theme('colors.gray');

  @apply space-y-1;
}

.root li {
  @apply p-0 block;
}

.root svg {
  height: 1em;
  width: 1em;
  fill: currentColor;

  @apply inline opacity-70 mr-3;
}

.root li a {
  @apply inline-flex items-center transition;
}

.root li a:hover {
  @apply text-black;
}

.root li a:hover svg {
  @apply opacity-100;
}
