@font-face {
  font-family: "FT";
  src: url("./financier-display-test-light.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;

  background-image: radial-gradient(#fff 0.5px, #ccc 0.5px);
  background-size: calc(10 * 0.5px) calc(10 * 0.5px);
}

#settings {
  position: fixed;
  top: 1rem;
  left: 50vw;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 0.2rem;

  z-index: 999;
  transform: translate(-50%, 0px);
}

#background {
  position: absolute;
  background: #fff;
  left: 2px;
  z-index: 1;
  border-radius: 1em;
  transition: all ease 0.3s;
}

#settings input {
  display: none;
}
#settings label {
  display: inline-block;
  position: relative;
  z-index: 3;
  padding: 0.3rem 0.4rem;
  opacity: 0.6;
  color: #000;
}
#settings label:hover {
  cursor: pointer;
}
#settings input:checked + label {
  color: #000;
  opacity: 1;
}

#demo {
  position: relative;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 75%;
  background: #fff;
  perspective: 50vw;
}

#demo,
#content,
#canvas {
  transition: all ease 2s;
  border-radius: 0.25rem;
}

#demo.popout {
  transform: scale(0.8);
  background: transparent;
}

/* #content,
#canvas {
  border: 2px solid black;
} */

#demo.popout #content {
  transform-style: preserve-3d;
  transform: rotateY(15deg) rotateX(2deg) translateZ(-60px) translateX(20px);
}
#demo.popout canvas {
  transform-style: preserve-3d;
  transform: rotateY(15deg) rotateX(2deg) translateZ(-30px) translateX(120px);
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 5vw;
  line-height: 1.2;
  font-family: "FT", sans-serif;
  padding: 0.5em;
  background: #fff;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  pointer-events: none;
  mix-blend-mode: screen;
}
#demo.popout #canvas {
  opacity: 0.6;
  mix-blend-mode: darken !important;
}
