canvas {
  width: auto !important;
  height: auto !important;
  max-width: 86%;
  max-height: 86%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 1rem;
  border: 18px solid black;
}
